html, body {
  height: 100%;
  margin: 0;
}

.container-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.nav-link.router-link-active {
  font-weight: bold;
  color: #007bff !important;
  border-bottom: 2px solid #007bff;
}

.nav-link.active {
  font-weight: bold;
  color: #0d6efd !important; // azul Bootstrap
  border-bottom: 2px solid #0d6efd;
}
