html, body {
  height: 100%;
  margin: 0;
}

.container-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.navbar {
  background-color: #000 !important;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-toggler-icon {
  background-color: white !important;
}

.navbar-brand {
  color: white !important;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

footer {
  background-color: #000;
  color: white;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}